:root {
    --main-color: #b61538;
    --secundary-color: #82122b;
    --white: rgb(236, 235, 235);
    --white2: rgb(231, 226, 195);
}

body {
    background-color: var(--main-color);
}

.navegacion {
    padding: 0.3rem;
    background-color: var(--main-color);
}

h1 {
    font-size: 3rem;
    display: flex;
}

.btn:hover {

    transform: scale(1.05);
    color: white;
}

.btn:active {
    background-color: var(--main-color);
}

.boton-iniciar {
    color: var(--white);
    border-radius: 1rem;
    border: none;
    padding: 0.6rem;
    background-color: var(--secundary-color);
}

.boton-iniciar:hover,
.boton-iniciar:active {
    border: 2px var(--white) solid;
    padding: 0.5rem;
}

.navbar-nav {
    font-size: 1rem;
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: var(--white);
}

/*Offcanvas*/

.offcanvas {
    background-color: var(--main-color);
}

/*Contenedor principal*/
.contenedor-principal {
    background-image: url(../img/img-principal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 40vh;
}

.container-fluid2,
h2 {
    color: var(--white);
    font-weight: 700;
    text-shadow: 1px 1px 4px var(--secundary-color);
}

.div-botones {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.boton-principal {
    color: var(--white);
    padding: 0.6rem;
    background-color: var(--main-color);
    box-shadow: rgba(189, 93, 93, 0.75);
}

.div-formularios {
    display: flex;
    flex-direction: row;
}

@media (min-width:992px) {
    .container-fluid2 {
        padding: 6rem;
    }

    .div-formularios {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .div-botones {
        gap: 2rem;
    }

}

/*Articulos*/
/*Animaciones*/
.tarjeta {
    color: var(--white);
}

.tarjeta:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

@media (min-width:576px) {
    .articulo {
        margin-bottom: 3rem;
    }
}